body {
  margin: 0;
  font-family: 'Manrope', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw !important;
  min-height: 100vh !important;
  background-color: rgb(169, 169, 169) !important;
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

