.creator_header {
    text-transform: lowercase;
    font-size: 10rem;
    font-weight: 800;
    text-align: right;
    margin-right: 3rem;
    color: white
}

.creator_name {
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
    font-weight: 700;

}

.creator_details {
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0.5rem
}

.creator_items {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 3rem;

}

.creator_item_image {
    padding-left: 0.625rem;
    padding-right: 0.625rem;

}

.list {
    font-size: 3rem;
    text-align: center;
}

.creators_page {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 3rem;

}

.creators_logo {
    color: white;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 4rem;
    text-transform: lowercase;
    margin-bottom: 2rem;
}

.nav_creator {
    font-weight: 700;
    color: whitesmoke !important;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nav_creator:hover {
    --mask:
    radial-gradient(37.620000000000005px at 50% calc(100% + 2.50px),#0000 calc(99% - 25px),#000 calc(101% - 25px) 99%,#0000 101%) calc(50% - 50px) calc(50% - 25px + .5px)/100px 50px ,
    radial-gradient(37.620000000000005px at 50% -2.5px,#0000 calc(99% - 25px),#000 calc(101% - 25px) 99%,#0000 101%) 50% calc(50% + 25px)/100px 50px ;
    -webkit-mask: var(--mask);
          mask: var(--mask);
}

a {
    color: whitesmoke !important;
}