.header {
    background-color: rgba(10, 10, 10, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem;
    position: sticky;
    width: 100%;
    top: 0;
    margin-bottom: 3rem;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.376);
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 1.25rem;
}

.nav_button {
    border: gray solid 2px;
    font-weight: 600 !important;
    letter-spacing: 0.2rem;
}

.nav_button:hover {
    border: white solid 2px;
}

.logo {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    text-transform: lowercase;
    user-select: none;
}

.logo:hover {
    -webkit-animation: text-blur-out 0.03s cubic-bezier(0.350, 0.005, 0.380, 0.230) both;
    animation: text-blur-out 0.03s cubic-bezier(0.350, 0.005, 0.380, 0.230) both;
}

@-webkit-keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
    }
  }
  @keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
    }
}


/* FOOTER */

.footer {
    background-color: black !important;
    background-image: url("https://i.imgur.com/SHFVpsj.png");
    background-size: 40%;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-evenly;
    padding: 3.25rem;
    margin-top: auto;
}


.iglogo {
    width: 3rem;
}

.iglogo:hover {
    cursor: pointer;
}

.contact_info {
    display: flex;
    flex-direction: column;
}

.getin_touch {
    color: white;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: lowercase;
}

p {
    color: white
}

button {
    background-color: rgb(36, 36, 36) !important;
    color: white !important;
}

.footer_logo {
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    text-transform: lowercase;
}

.nav_item, .contact_links {
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
}

.hours {
    list-style-type: none;
}
