.header {
    background-color: rgba(10, 10, 10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem;
    position: sticky;
    width: 100%;
    top: 0;
    height: 17rem;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.376);
    --mask:
    radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
          mask: var(--mask);
    transition: height 3s ease;
}

.header:hover {
  height: 19rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-top: 3rem;
}

.nav_button {
    border: rgb(31, 31, 31) solid 2px !important;
    background-color: rgb(15, 15, 15) !important;
    font-weight: 600 !important;
    letter-spacing: 0.2rem;
}

.art {
    margin-right: 1.5rem;
}

.nav_button:hover {
    border: white solid 2px !important;
}

.nav_button:active {
    -webkit-animation: pulsate-bck 0.5s ease-in-out both;
	        animation: pulsate-bck 0.5s ease-in-out both;
}


.logo {
    margin-left: 2rem;
    margin-top: 1.25rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    text-transform: lowercase;
    user-select: none;
}

.logo:hover, .logo:focus {
    -webkit-animation: slide-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
  }
  

@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}


/* FOOTER */

.footer {
    background-color: rgb(159, 159, 159) !important;
    background-size: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3.25rem;
    padding-top: 9rem;
    margin-top: 2rem;
    height: 40rem;
    --mask:
    radial-gradient(34.99px at 50% 48.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
    -webkit-mask: var(--mask);
          mask: var(--mask);
    transition: margin-top 3s ease;
}

.footer:hover {
    margin-top: 3rem;
}

.iglogo {
    width: 3rem;
}

.iglogo:hover {
    cursor: pointer;
}

.contact_info {
    display: flex;
    flex-direction: column;
}

.getin_touch {
    color: white;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: lowercase;
}

p {
    color: white
}

button {
    background-color: rgb(36, 36, 36) !important;
    color: white !important;
}

.footer_logo {
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    text-transform: lowercase;
}

.nav_item, .contact_links {
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
}

.hours {
    list-style-type: none;
}




/* ----------------------------------------------
 * Generated by Animista on 2024-1-25 17:46:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */