/* SEARCH BAR */

.search {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 30rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.search_btn {
    margin-left: 1rem;
    border: gray solid 2px;
    font-weight: 600 !important;
    letter-spacing: 0.2rem;
}

.search_btn:hover {
    border: white solid 2px;
}

.search_input:focus {
    border: white solid 2px !important;
}



/* ITEM */

.item_image {
    margin-left: 2rem;
    position: relative;
}

.item_image:hover {
    opacity: 30%;
}

.current_price {
    position: absolute;
    top: 35%;
    left: 35%;
    font-weight: 800;
    font-size: 2.5rem;
    color: white;
}

.current_price:hover {
    opacity: 100%;
}

/* BIDS & PREVIOUS BIDS */

.bid_form {
    display: flex;
    flex-direction: row;
}

.previous_bids {
    overflow-y: scroll;
    height: 20rem;
}

.previous_bid_detail {
    padding: 30rem auto !important;
}

.bid_input {
    width: 20rem !important;
    margin-right: 1rem;
}

.make_bid {
    margin-right: 4rem;
}

/* FILTERS */

.filters {
    border: gray solid 2px;
    font-weight: 600 !important;
    letter-spacing: 0.2rem !important;
    color: white;
    background-color: rgb(36, 36, 36);
    margin-left: 1rem;
    font-size: 1.1rem;
    width: 13rem;
    text-align: center;
}

.filters:active {
    border: white solid 2px;
}

.filters:focus {
    border: white solid 2px;
    
}
