@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a9a9a9 !important;
}

code { 
  font-family: "Roboto", serif;
}

.wave-1 {
  background-color: #464646;
  -webkit-box-shadow: inset 0px 0px 39px -52px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 39px -52px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 39px -52px rgba(0,0,0,0.75);
  --mask: 
  radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 100%,
  radial-gradient(34.99px at 50% calc(100% + 18px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.wave-2 { 
  transform: translateY(-90px);
  background-color: #a9a9a9;
  --mask:
  radial-gradient(34.99px at 50% 48.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
  radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
        mask: var(--mask);
}

.wave-3 {
  background-color: #464646;
  --mask:
  radial-gradient(34.99px at 50% 48.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
  radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
        mask: var(--mask);
  -webkit-box-shadow: inset 0px 0px 39px -52px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 39px -52px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 39px -52px rgba(0,0,0,0.75);
}

.art-scrollbar {
  scrollbar-color: rgb(0, 0, 0) rgba(0, 0, 0, 0);
}

.art-scrollbar:hover {
  scrollbar-color: #464646 rgba(0, 0, 0, 0);
}

.g-button:active {
  -webkit-animation: pulsate-bck 0.5s ease-in-out both;
        animation: pulsate-bck 0.5s ease-in-out both;
}

.tile:active {
  -webkit-animation: pulsate-bck 0.5s ease-in-out both;
        animation: pulsate-bck 0.5s ease-in-out both;
}

.search-button:active {
  -webkit-animation: pulsate-bck 0.5s ease-in-out both;
  animation: pulsate-bck 0.5s ease-in-out both;
}


.fancy-hover:hover{
  --mask:
  radial-gradient(37.620000000000005px at 50% calc(100% + 2.50px),#0000 calc(99% - 25px),#000 calc(101% - 25px) 99%,#0000 101%) calc(50% - 50px) calc(50% - 25px + .5px)/100px 50px ,
  radial-gradient(37.620000000000005px at 50% -2.5px,#0000 calc(99% - 25px),#000 calc(101% - 25px) 99%,#0000 101%) 50% calc(50% + 25px)/100px 50px ;
  -webkit-mask: var(--mask);
        mask: var(--mask);
}

.fancy-hover:active {
  --mask:
  radial-gradient(37.620000000000005px at 20% calc(100% + 2.50px),#0000 calc(99% - 25px),#000 calc(101% - 25px) 99%,#0000 101%) calc(50% - 50px) calc(50% - 25px + .5px)/100px 50px ,
  radial-gradient(37.620000000000005px at 20% -2.5px,#0000 calc(99% - 25px),#000 calc(101% - 25px) 99%,#0000 101%) 50% calc(50% + 25px)/100px 50px ;
  -webkit-mask: var(--mask);
        mask: var(--mask);
}

.fancy-hover:checked {
  -webkit-animation: pulsate-bck 8s ease-in-out infinite both;
  animation: pulsate-bck 8s ease-in-out infinite both;
}

.creator_items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 3rem;

}


/*  KEY FRAMES & ANIMATIONS */


@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}